body {
	margin: 0px;
	width: 100%;
	font-family: "宋体";
}

.main {
	padding-top: 80px;
	margin: 0 auto;
	clear: both;
}

.body_content {
	margin: 0 auto;
	width: 1000px;
}

.body-text-content {
	margin: 0 auto;
	width: 800px;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	background: #000000;
	height: 80px;
	font-size: 15px;
	color: #FFFFFF;
	width: 100%;
	z-index: 9999;
}

.nav_content {
	width: 1000px;
	margin: 0 auto;
}

.page_logo {
	float: left;
	margin-left: 105px;
	display: block;
}

.logo {
	margin-top: 10px;
	height: 60px;
	width: 60px;
	display: block;
	background-image: url(http://7xnvhf.com1.z0.glb.clouddn.com/op_upload/1/144747075357.png);
}

.menus {
	margin-right: 105px;
	margin-top: 46px;
	float: right;
}

.menus li{
	float: left;
	margin-left: 34px;
}

.menus li a{
	color: #FFFFFF;
}

.menus li a:hover{
	text-decoration: underline;
}

.menu-li-on {
	text-decoration: underline;
}

.footer p {
	margin: 40px auto;
	color: #A5A5A5;
	text-align: center;
	font-size: 14px;
}

.back-to-top {
	position: fixed;
	bottom: 100px;
	right: 80px;
	background: #000000;
	width: 43px;
  	/*display:none;*/
}

.back-to-top:hover {
	cursor: pointer;
}

.blank-take {
	display: block;
	height: 8px;
	background: #FFFFFF;
}

.fs14 {
	font-size: 14px;
}