.big_banner {
	margin-top: 20px;
}

.big_banner > img {
	width: 1000px;
	height: 250px;
}

.swiper-container {
	margin-top: 20px;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.image_show ul {
	margin: 0px;
	display: block;
}

.image_show li{
	float: left;
	margin-top: 40px;
	margin-right: 83px;
}

.image_show ul li:nth-child(3n){
	margin-right: 0
}

.image_show img {
	width: 278px;
	height: 184px;
}

.proj_show_title {
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
  	visibility: hidden;
  	opacity: 0;
}

.proj_show_title a {
	color: #A5A5A5;	
}

.proj_show_title:hover {
	text-decoration: underline;
}

.image_show li:hover .proj_show_title {
	visibility: visible;
	opacity: 1;
}

.signaline p {
	margin: 0 auto;
	color: #A5A5A5;
	text-align: center;
	line-height: 92px;
	clear: both;
	text-decoration: underline;
}

.web_parter {
	margin: 30px auto;
}

.web_parter img {
	margin: 0 auto;
	/*clear: both;*/
}

.signaline p a {
	color: #A5A5A5;
}

/*.signaline p a:hover {
	text-decoration: underline;
}*/