.seemicon {
	line-height: 260px;
	text-align: center;
}

.seemicon img {
	margin: auto;
	clear: both;
	vertical-align:middle;
}

.webinfo {
	line-height: 26px;
}

.designersinfo {
	display: block;
}

.persons {
	display: block;
	margin-top: 80px;
}

.davatar {
	float: left;
	width: 130px;
}

.davatar img{
	width: 123px;
	height: 122px;	
}

.textcontent {
	width: 640px;
	margin-left: 30px;	
	padding-left: 130px;
}

.personame p {
	margin-bottom: 5px;
}
.personame p span {
	font-size: 18px;
	margin-right: 10px;
}

.eng_personame span {
	font-size: 18px;
}

.info-bottom-img {
	margin-top: 100px;
	margin-bottom: 30px;
}

.info-bottom-img img{
	margin: auto;
	clear: both;
}

.tminfo {
	margin-top: 30px;
	line-height: 26px;
}