.news-each {
	margin-top: 60px;
	font-size: 14px;
	line-height: 26px;
}

.news-title {
	font-size: 16px;
	margin-top: 28px;
}

.news-content > p {
	margin-top: 16px;
}

.news-content > img {
	margin-top: 34px;
}


