.categorys {
	height: 30px;
}

.categorys ul {
	margin-top: 50px;
}

.categorys ul li {
	float: left;
	margin-right: 40px;
}

.categorys ul li a {
	color: #a3a3a3;
}

.categorys ul li.cate-on a{
	color: #000000;
}

.proj_show_image a img {
	width: 278px;
	height: 184px;
}

.projects-content {
	overflow: hidden;
	clear: both;
}

.proj_show_image a {
	text-decoration: none;
}

.projects-content li{
	float: left;
	margin-top: 40px;
	margin-right: 83px;
}

.projects-content ul li:nth-child(3n){
	margin-right: 0px;
}

/*.projects-content > .project {
	float: left;
	margin-right: 83px;
	margin-top: 40px;
}

.project:nth-child(3n) {
	margin-right: 0px;
}
*/
.proj_show_title {
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: #A5A5A5;	
  	visibility: hidden;
  	opacity: 0;
}

.projects-content li:hover .proj_show_title {
	visibility: visible;
	opacity: 1;
}


