<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seem Contant</title>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/contact.css">
</head>
<body>
	<div class="main">
		<div class="nav">
			<div class="nav_content">
				<div class="page_logo">
					<a href="/" class="logo"></a>
				</div>
				<div class="menus">
					<ul>
						<li><a href="/news.html">news</a></li>
						<li><a href="/projects.html">works</a></li>
						<li><a href="/information.html">information</a></li>
						<li class="menu-li-on"><a href="/contact.html">contact</a></li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="body-text-content">
			<div class="contact-content">
				<p>
				Rm 915-916, Building 102, Qing Nian Hui,<br>
				Chaoyang North Road, Chaoyang District,<br>
				Beijing 100123, China
				</p>
				<p>
					朝阳区朝阳北路青年汇102楼915-916室<br>
					中国北京 100123br	
				</p>
				<p>
					T:(86)10 8579 0271 / 8579 0281 <br>
					F:(86)10 8570 0291
				</p>
				<p>
					Weibo: JV_lab <br>
					WeChat Public Number: JOYN:VISCOM
				</p>
				<p>
					For enquiry, please contact: <br>
					hello@joynviscom.com
				</p>
			</div>
		</div>
	</div>

	<div class="footer">
		<p>© 2012 JOYN:VISCOM /JV Jab / all right reserved</p>
	</div>

</body>
</html>
