<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="什目视觉工作室 视觉方面高端定制，Logo/VI/UI/网站设计/海报设计/APP设计/字体设计/包装设计">
	<meta name="keywords" content="什目,设计,什目视觉工作室,视觉方面高端定制,Logo,VI,vi,UI,ui,网站设计,海报设计,APP设计,字体设计,包装设计">
	<title>联系方式 -- 什目视觉</title>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/contact.css">
</head>
<body>
	<div class="main">
		<div class="nav">
			<div class="nav_content">
				<div class="page_logo">
					<a href="/" class="logo"></a>
				</div>
				<div class="menus">
					<ul>
						<li><a href="/news.html">news</a></li>
						<li><a href="/projects.html">works</a></li>
						<li><a href="/information.html">information</a></li>
						<li class="menu-li-on"><a href="/contact.html">contact</a></li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="body-text-content">
			<div class="contact-content">
				<p>
				Add: An jia lou, Chaoyang District, Beijing, China
				</p>
				<p>
				北京朝阳区安家楼	
				</p>
				<p>
					T: (86) 10 15210386933
				</p>
				<p>
				WeChat Public Number: 什目视觉
				</p>
				<p>
				Web:  seem.design
				</p>
				<p>
				For enquiry, please contact: pj@seem-design.com
				</p>
			</div>
		</div>
	</div>

	<div class="footer">
		<p>© 2012 JOYN:VISCOM /JV Jab / all right reserved</p>
	</div>

</body>
</html>
