<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seem 首页</title>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
</head>
<body>
	<div class="main">
		<div class="nav">
			<div class="nav_content">
				<div class="page_logo">
					<a href="/" class="logo"></a>
				</div>
				<div class="menus">
					<ul>
						<li><a href="/news.html">news</a></li>
						<li><a href="/projects.html">works</a></li>
						<li><a href="/information.html">information</a></li>
						<li><a href="/contact.html">contact</a></li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="body_content">
			<div class="big_banner">
				<img src="../static/image/banner.png" alt="">
			</div>

			<div class="image_show">
				<ul>
					<li><img src="../static/image/temp_pic.png" alt=""></li>
					<li><img src="../static/image/temp_pic.png" alt=""></li>
					<li><img src="../static/image/temp_pic.png" alt=""></li>
					<li><img src="../static/image/temp_pic.png" alt=""></li>
					<li><img src="../static/image/temp_pic.png" alt=""></li>
					<li><img src="../static/image/temp_pic.png" alt=""></li>
				</ul>
			</div>

			<div class="signaline">
				<p><a href="#">more</a></p>
			</div>
			<div class="web_parter">
				<img src="../static/image/website_parter.png" alt="">
			</div>

		</div>
	</div>

	<div class="footer">
		<p>© 2012 JOYN:VISCOM /JV Jab / all right reserved</p>
	</div>

</body>
</html>
