<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seem Information</title>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/information.css">
	<script src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
	<script src="http://cdn.bootcss.com/handlebars.js/4.0.3/handlebars.min.js"></script>
</head>
<body>
	<div class="main">
		<div class="nav">
			<div class="nav_content">
				<div class="page_logo">
					<a href="/" class="logo"></a>
				</div>
				<div class="menus">
					<ul>
						<li><a href="/news.html">news</a></li>
						<li><a href="/projects.html">works</a></li>
						<li class="menu-li-on"><a href="/information.html">information</a></li>
						<li><a href="/contact.html">contact</a></li>					
					</ul>
				</div>	
			</div>
		</div>
		<div class="body-text-content">
			<div class="headinfo">
				<div class="seemicon">
					<img src="../static/image/infor-logo.png" alt="">
				</div>
				<div class="webinfo fs14">
					<p>什目视觉工作室成立于2015年9月，集合了中央美术学院与北京服装设计学院等优秀院校的设计师，我们将通过开阔的设计视野、丰富的设计思维、专注的设计态度实现设计作品与思想的完美契合，在不断的探索中，我们尝试新媒体、多元化、年轻新潮等崭新的表达方式来诠释什目全新的设计理念。什目视觉致力于探索空间、平面与时尚、艺术、生活与人之间的关系，我们拒绝平庸、拒绝传统，为您打造全新的视觉感受。</p>
					<p>什目视觉旗下的什目交互平台致力于为互联网行业打造最好的视觉+交互体验，为形成更好的服务团队，什目视觉与知名互联网开发团队进行合作，全方位进行互联网构建。</p>
					<p>什（shi）：形容多种多样，种类繁多。</p>
					<p>目（mu）：注视，凝聚；是我们认识世界的窗口，是辨识是非、善恶、美丑的通道。</p>
					<p>Seem：在设计专业规则中寻求突破，和而不同。</p>
					<p>专业范畴：视觉方面高端定制，Logo/VI/UI/网站设计/海报设计/APP设计/字体设计/包装设计</p>
				</div>
			</div>
			<div id="authors_list" class="designersinfo">
				
				<!-- <div class="persons">
					<div class="davatar">
						<img src="../static/image/avatar.png" alt="">
					</div>
					<div class="textcontent">
						<div class="personinfo">
							<div class="personame">
								<p><span>设计师</span><span>梁甜</span></p>
								<p><span>DESIGNER</span><span>MOSSIA</span></p>
							</div>
							<div class="tminfo fs14">
								<p>卡文克莱是一个全方位的设计师，不论是正牌、副牌或任何一个产品路线，他都有完整的企划想法。现在，他旗下一共有三个主要的服装路线，而配件则依服装表现来搭配设计。现年56岁的他在纽约时尚界的一言一行都被媒体注视着，有“纽约第七大道的王子”的封号。 </p>
							</div>
						</div>
					</div>
				</div>
 -->				
			</div>
		
			<div class="info-bottom-img">
				<img src="../static/image/pic.png" alt="">
			</div>
		</div>


	</div>
	
	<div id="back-to-top" class="back-to-top">
		<div class="back-icon">
			<img src="http://7xnvhf.com1.z0.glb.clouddn.com/op_upload/1/144929454824.png" alt="">
		</div>
		<div class="blank-take">
			
		</div>
		<div class="back-text">
			<img src="http://7xnvhf.com1.z0.glb.clouddn.com/op_upload/1/144929453225.png" alt="">
		</div>
	</div>

	<div class="footer">
		<p>© 2012 JOYN:VISCOM /JV Jab / all right reserved</p>
	</div>

	<script id="authors-list-template" type="text/x-handlebars-template">​
		{{#each this}}
		<div class="persons">
			<div class="davatar">
				<img src="{{ avatar }}" alt="">
			</div>
			<div class="textcontent">
				<div class="personinfo">
					<div class="personame">
						<p><span>{{ author_title }}</span><span>{{ nickname }}</span></p>
						<p><span>{{ author_eng_title }}</span><span>{{ english_name }}</span></p>
					</div>
					<div class="tminfo fs14">
						{{{ descr }}}
					</div>
				</div>
			</div>
		</div>
		{{/each}}​
	</script>
	<script src="../static/js/informations.js"></script>
	<script src="../static/js/base.js"></script>

</body>
</html>
