<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seem Information</title>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/information.css">
	<script src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
	<script src="http://cdn.bootcss.com/handlebars.js/4.0.3/handlebars.min.js"></script>
</head>
<body>
	<div class="main">
		<div class="nav">
			<div class="nav_content">
				<div class="page_logo">
					<a href="/" class="logo"></a>
				</div>
				<div class="menus">
					<ul>
						<li><a href="/news.html">news</a></li>
						<li><a href="/projects.html">works</a></li>
						<li class="menu-li-on"><a href="/information.html">information</a></li>
						<li><a href="/contact.html">contact</a></li>					
					</ul>
				</div>	
			</div>
		</div>
		<div class="body-text-content">
			<div class="headinfo">
				<div class="seemicon">
					<img src="../static/image/infor-logo.png" alt="">
				</div>
				<div class="webinfo fs14">
					<p>卡文克莱是一个全方位的设计师，不论是正牌、副牌或任何一个产品路线，他都有完整的企划想法。现在，他旗下一共有三个主要的服装路线，而配件则依服装表现来搭配设计。现年56岁的他在纽约时尚界的一言一行都被媒体注视着，有“纽约第七大道的王子”的封号。 </p>
					<p>星路历程：  </p>
					<p>·1968年，与人合作创办Calvin Klein“卡文克莱”公司。 </p>
					<p>·1991年，公司进行重组。 </p>
					<p>·90年代，出色的一则广告：鲁克·雪德丝在牛仔裤下不穿底裤极尽性感地说：“我跟我的卡文之间什么也没有。”这则广告虽然引来女权运动者的注意，被指称有鼓励以暴力虐待妇女的嫌疑，但仍不敌这款牛仔裤销售的直线上升。当Calvin Klein打响这成功的第一炮之后，他的事业扶摇直上，连续四度获得服装奖项的肯定寇蒂奖，旗下的副牌及相关产品，更是一个接一个推出，也难怪会有人以四处林立的麦当劳，来形容随处可见Calvin </p><p>Klein的疯狂情况。 </p>
					<p>1997年，Calvin Klein将它在服饰领域取得的与辉煌续写进了手表制造业。在著名的Swatch集团合作下，CK WATCH CoLtd宣告成立；由此，年轻、时尚而极具个性色彩的CK表得以问世。 </p>
					<p>曾经连续四度获得知名的服装奖项。</p>
				</div>
			</div>
			<div id="authors_list" class="designersinfo">
				
				<!-- <div class="persons">
					<div class="davatar">
						<img src="../static/image/avatar.png" alt="">
					</div>
					<div class="textcontent">
						<div class="personinfo">
							<div class="personame">
								<p><span>设计师</span><span>梁甜</span></p>
								<p><span>DESIGNER</span><span>MOSSIA</span></p>
							</div>
							<div class="tminfo fs14">
								<p>卡文克莱是一个全方位的设计师，不论是正牌、副牌或任何一个产品路线，他都有完整的企划想法。现在，他旗下一共有三个主要的服装路线，而配件则依服装表现来搭配设计。现年56岁的他在纽约时尚界的一言一行都被媒体注视着，有“纽约第七大道的王子”的封号。 </p>
							</div>
						</div>
					</div>
				</div>
 -->				
			</div>
		
			<div class="info-bottom-img">
				<img src="../static/image/pic.png" alt="">
			</div>
		</div>


	</div>

	<div class="footer">
		<p>© 2012 JOYN:VISCOM /JV Jab / all right reserved</p>
	</div>

	<script id="authors-list-template" type="text/x-handlebars-template">​
		{{#each this}}
		<div class="persons">
			<div class="davatar">
				<img src="{{ avator }}" alt="">
			</div>
			<div class="textcontent">
				<div class="personinfo">
					<div class="personame">
						<p><span>设计师</span><span>{{ nickname }}</span></p>
						<p><span>DESIGNER</span><span>{{ english_name }}</span></p>
					</div>
					<div class="tminfo fs14">
						{{{ descr }}}
					</div>
				</div>
			</div>
		</div>
		{{/each}}​
	</script>
	<script src="../static/js/informations.js"></script>

</body>
</html>
