<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seem Work Detail</title>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/project-detail.css">
	<script src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
	<script src="http://cdn.bootcss.com/handlebars.js/4.0.3/handlebars.min.js"></script>
	<script src="../static/js/common.js"></script>
</head>
<body>
	<div class="main">
		<div class="nav">
			<div class="nav_content">
				<div class="page_logo">
					<a href="/" class="logo"></a>
				</div>
				<div class="menus">
					<ul>
						<li><a href="/news.html">news</a></li>
						<li class="menu-li-on"><a href="/projects.html">works</a></li>
						<li><a href="/information.html">information</a></li>
						<li><a href="/contact.html">contact</a></li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="body-text-content">
			<div class="backtext">
				<a href="/projects.html"> &#60;back </a>
			</div>
			<div id="project-detail-content" class="project-detail-content">
				<!-- <div class="detail-title">
					<p>【未满】生活美学工作室</p>
				</div>
				<div class="detail-content">
					<p>一直想去的一家店 可能是期待值太高了吧 去过之后有些失望 套餐的东西还是挺多的 特别喜欢摆盘 除了主餐不满意 其他都还可以 应该不会再去了</p>
					<p>【前餐】#芝麻奶油面包# 面包松......</p>
					<img src="../static/image/pic.png" alt="">
					<img src="../static/image/pic.png" alt="">
					<img src="../static/image/pic.png" alt="">
				</div> -->
			</div>

		</div>

	</div>

	<div class="footer">
		<p>© 2012 JOYN:VISCOM /JV Jab / all right reserved</p>
	</div>

	<script id="projects-detail-template" type="text/x-handlebars-template">​
		<div class="detail-title">
			<p>{{ title }}</p>
		</div>
		<div class="detail-content">
			{{{ descr }}}
		</div>
	</script>
	<script src="../static/js/project-detail.js"></script>

</body>
</html>
