<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seem Works</title>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/projects.css">
	<script src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
	<script src="http://cdn.bootcss.com/handlebars.js/4.0.3/handlebars.min.js"></script>
	<script src="../static/js/common.js"></script>
</head>
<body>
	<div id="main" class="main">
		<div class="nav">
			<div class="nav_content">
				<div class="page_logo">
					<a href="/" class="logo"></a>
				</div>
				<div class="menus">
					<ul>
						<li><a href="/news.html">news</a></li>
						<li class="menu-li-on"><a href="/projects.html">works</a></li>
						<li><a href="/information.html">information</a></li>
						<li><a href="/contact.html">contact</a></li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="body_content">
			<div class="categorys">
				<ul id="pro_cates">
					<!-- <li class="cate-on"><a href="#">all</a></li> -->
					<li><a href="/projects.html">all</a></li>
					<li><a href="/projects.html?ptype=1">logo</a></li>
					<li><a href="/projects.html?ptype=2">vi</a></li>
					<li><a href="/projects.html?ptype=3">app</a></li>
					<li><a href="/projects.html?ptype=4">web</a></li>
				</ul>
			</div>
			<div id="projects-content" class="projects-content">
				<ul id="pros_list">
					<!-- <div class="project"><a href="/project-detail.html"><img src="../static/image/temp_pic.png" alt=""></a></div> -->
				</ul>
			</div>

		</div>

	</div>

	<div id="back-to-top" class="back-to-top">
		<div class="back-icon">
			<img src="http://7xnvhf.com1.z0.glb.clouddn.com/op_upload/1/144929454824.png" alt="">
		</div>
		<div class="blank-take">
			
		</div>
		<div class="back-text">
			<img src="http://7xnvhf.com1.z0.glb.clouddn.com/op_upload/1/144929453225.png" alt="">
		</div>
	</div>

	<div class="footer">
		<p>© 2012 JOYN:VISCOM /JV Jab / all right reserved</p>
	</div>

	<script id="projects-list-template" type="text/x-handlebars-template">​
		{{#each this}}
		<li>
			<div class="proj_show_image">
				<a href="/project-detail.html?pid={{ id }}"><img src="{{ img }}" alt=""></a>
			</div>
			<div class="proj_show_title dn">
				{{ title }}
			</div>
		</li>
		{{/each}}​
	</script>
	<script src="../static/js/projects.js"></script>
	<script src="../static/js/base.js"></script>


</body>
</html>
