<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>作品集 -- 什目视觉</title>
	<meta name="description" content="什目视觉工作室 视觉方面高端定制，Logo/VI/UI/网站设计/海报设计/APP设计/字体设计/包装设计">
	<meta name="keywords" content="什目,设计,什目视觉工作室,视觉方面高端定制,Logo,VI,vi,UI,ui,网站设计,海报设计,APP设计,字体设计,包装设计">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/projects.css">
    <script src="http://7xnvhf.com1.z0.glb.clouddn.com/jquery.js"></script>
	<script src="http://7xnvhf.com1.z0.glb.clouddn.com/handlebars.min.js"></script>
	<!-- <script src="http://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
	<script src="http://cdn.bootcss.com/handlebars.js/4.0.3/handlebars.min.js"></script> -->
	<script src="../static/js/common.js"></script>
</head>
<body>
	<div id="main" class="main">
		<div class="nav">
			<div class="nav_content">
				<div class="page_logo">
					<a href="/" class="logo"></a>
				</div>
				<div class="menus">
					<ul>
						<li><a href="/news.html">news</a></li>
						<li class="menu-li-on"><a href="/projects.html">works</a></li>
						<li><a href="/information.html">information</a></li>
						<li><a href="/contact.html">contact</a></li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="body_content">
			<div class="categorys">
				<ul id="pro_cates">
					<!-- <li class="cate-on"><a href="#">all</a></li> -->
					<li><a href="/projects.html">all</a></li>
					<li><a href="/projects.html?ptype=1">logo</a></li>
					<li><a href="/projects.html?ptype=2">vi</a></li>
					<li><a href="/projects.html?ptype=3">app</a></li>
					<li><a href="/projects.html?ptype=4">web</a></li>
				</ul>
			</div>
			<div id="projects-content" class="projects-content">
				<ul id="pros_list">
					<!-- <div class="project"><a href="/project-detail.html"><img src="../static/image/temp_pic.png" alt=""></a></div> -->
				</ul>
			</div>

		</div>

	</div>

	<div id="back-to-top" class="back-to-top" style="display:none;">
	</div>
	<div class="footer">
		<p>Copyright © 2015 北京什目视觉设计工作室 京ICP备15057034号-1</p>
	</div>

	<script id="projects-list-template" type="text/x-handlebars-template">​
		{{#each this}}
		<li>
			<div class="proj_show_image">
				<a href="/project-detail.html?pid={{ id }}"><img src="{{ img }}" alt=""></a>
			</div>
			<div class="proj_show_title dn">
				<a href="/project-detail.html?pid={{ id }}">{{ title }}</a>
			</div>
		</li>
		{{/each}}​
	</script>
	<script src="../static/js/projects.js"></script>
	<script src="../static/js/base.js"></script>


</body>
</html>
