<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seem Works</title>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/projects.css">
</head>
<body>
	<div class="main">
		<div class="nav">
			<div class="nav_content">
				<div class="page_logo">
					<a href="/" class="logo"></a>
				</div>
				<div class="menus">
					<ul>
						<li><a href="/news.html">news</a></li>
						<li class="menu-li-on"><a href="/projects.html">works</a></li>
						<li><a href="/information.html">information</a></li>
						<li><a href="/contact.html">contact</a></li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="body_content">
			<div class="categorys">
				<ul>
					<li><a href="#" class="cate-on">all</a></li>
					<li><a href="#">logo</a></li>
					<li><a href="#">vi</a></li>
					<li><a href="#">app</a></li>
					<li><a href="#">web</a></li>
				</ul>
			</div>
			<div class="projects-content">
				<div class="project"><a href="/project-detail.html"><img src="../static/image/temp_pic.png" alt=""></a></div>
				<div class="project"><a href="#"><img src="../static/image/temp_pic.png" alt=""></a></div>
				<div class="project"><a href="#"><img src="../static/image/temp_pic.png" alt=""></a></div>
				<div class="project"><a href="#"><img src="../static/image/temp_pic.png" alt=""></a></div>
				<div class="project"><a href="#"><img src="../static/image/temp_pic.png" alt=""></a></div>
				<div class="project"><a href="#"><img src="../static/image/temp_pic.png" alt=""></a></div>
				<div class="project"><a href="#"><img src="../static/image/temp_pic.png" alt=""></a></div>
				<div class="project"><a href="#"><img src="../static/image/temp_pic.png" alt=""></a></div>
				<div class="project"><a href="#"><img src="../static/image/temp_pic.png" alt=""></a></div>
				<div class="project"><a href="#"><img src="../static/image/temp_pic.png" alt=""></a></div>
			</div>

		</div>

	</div>

	<div class="footer">
		<p>© 2012 JOYN:VISCOM /JV Jab / all right reserved</p>
	</div>

</body>
</html>
